<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>비정기적으로 페스티벌 라인업 스캔을 안내하여 예상 플레이리스트를 만들어볼 수 있도록 알려드립니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>KoddiUDOnGothic-Bold.otf</string>
		<string>KoddiUDOnGothic-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
